<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #D4FFD0;height: 100px;">
    <div class="container">
      <a class="navbar-brand" href="/main"><img src="../imgs/logo.svg" width="70px">&nbsp;&nbsp;<img src="../imgs/sublog3.svg" width="200px"></a>

      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-family: 'Montserrat',sans-serif;font-size: 1.2rem;font-weight: 600;">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link mx-4" href="/dados" style="color: #465741;"><i class="fas fa-plus pe-2"></i>Dados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-4" href="/mapa" style="color: #465741;"><i class="fas fa-map pe-2"></i>Mapa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-4" href="/perfil" style="color: #465741;"><i class="fas fa-user pe-2"></i>Perfil</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br>