<%- include ('partials/header.ejs') %>

    <div class="cotainer">
        <img class="mains" src="imgs/logo.svg">
        <img class="mai" src="imgs/sublog.svg">

        <p class="subtitle">Estamos felizes em tê-lo conosco!</p>

        <a href="sign_up"><button class="signup">CADASTRO</button></a>
        <a href="sign_in"><button class="signin">LOGIN</button></a>
    </div>

    <%- include ('partials/footer.ejs') %>
