<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <img class="card-img1" src="imgs/graph1.svg" alt="Card image">
    <img class="card-img2" src="imgs/graph2.svg" alt="Card image">
    <img class="card-img3" src="imgs/graph3.svg" alt="Card image">

    <div class="sub-container">
        <h1 class="ant">O QUE É A ANTRACNOSE?</h1>
        <p class="abo">A Antracnose em pupunheiras, é causada por fungos do gênero Colletotrichum, é uma doença significativa que afeta a produção de palmito e frutos dessa palmeira. Os sintomas principais incluem manchas escuras nas folhas, que podem se expandir e coalescer, resultando em grandes áreas necrosadas. <br><br>Nos brotos e frutos, a doença se manifesta como manchas negras deprimidas, podendo levar à queda prematura destes. Em casos severos, a doença pode causar o murchamento e a morte de plantas jovens.
            Além disso, prospera em condições de alta umidade e temperaturas moderadas a altas, sendo mais severa em ambientes com chuvas frequentes e alta densidade de plantio.</p>
            <div class="carousel">
                <button class="carousel-button prev" onclick="prevSlide()">&#10094;</button>
                <div class="carousel-container">
                    <div class="carousel-slide">
                        <img src="imgs/img1.jpg" alt="Image1">
                        <img src="imgs/img2.jpg" alt="Image2">
                        <img src="imgs/img3.jpg" alt="Image3">
                    </div>
                </div>
                <button class="carousel-button next" onclick="nextSlide()">&#10095;</button>
            </div>
    </div>

    <div class="sub-container2">
        <h1 class="prop">SOBRE A ANTRAVISION</h1>
        <p class="us">
            Nosso projeto é focado na identificação da antracnose em pupunheiras utilizando técnicas avançadas de aprendizagem profunda, com o objetivo de aprimorar o gerenciamento e promover a sustentabilidade na agricultura familiar e comercial.
            Além disso, estamos integrando esses modelos em uma plataforma acessível para agricultores, possibilitando que eles utilizem dispositivos móveis para capturar imagens das plantas e receber diagnósticos instantâneos. Esta abordagem não apenas facilita a gestão da doença, mas também empodera os agricultores com uma ferramenta tecnológica avançada, promovendo uma agricultura mais inteligente e sustentável.
        </p>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="imgs/ana.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ana Luisa Lima</h5>
                            <p class="card-text"><i class="fa-solid fa-file-lines" style="color: #d4ffd0;"></i> Documentação <br><i class="fa-solid fa-film" style="color: #d4ffd0;"></i> Pitch</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="imgs/gabriel.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Gabriel Henrique R. de Salles</h5>
                            <p class="card-text"><i class="fa-solid fa-code" style="color: #d4ffd0;"></i> Desenvolvedor Front End <br><i class="fa-solid fa-code" style="color: #d4ffd0;"></i> Desenvolvedor Back End</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="imgs/leticia.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Leticia Sayuri Imasato</h5>
                            <p class="card-text"><i class="fa-brands fa-figma" style="color: #d4ffd0;"></i> Designer <br><i class="fa-solid fa-file-lines" style="color: #d4ffd0;"></i> Documentação</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="imgs/nicolle.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nicolle Vitalino Fujii</h5>
                            <p class="card-text"><i class="fa-solid fa-file-lines" style="color: #d4ffd0;"></i> Documentação <br><i class="fa-solid fa-database" style="color: #d4ffd0;"></i> Banco de Dados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
<%- include ('partials/footer.ejs') %>