/* styles.css */

.carousel {
    position: relative;
    width: 35%;
    height: 75%;
    left: 54rem;
    top: -18.4rem;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-container {
    display: flex;
    transition: all 0.6s;
}

.carousel-slide {
    display: flex;
}

.carousel-slide img {
    width: 100%;
    display: block;
    filter: brightness(65%);
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: 0 10px;
    z-index: 1000;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:focus {
    outline: none;
}
